




h1, .logo{
    background: linear-gradient( to right,$colornegro,blue);
    letter-spacing: 5px;
    /*-webkit-background-clip:text;*/
    color: transparent;
}
.menu ul li{
    background: blue;

}
*{
    margin: 0px;
}
body{
    background: url("../img/fondo.jpg");
}


.logo{
    font-style:italic;
    font-size: large;
    margin-top: 0px;
    
    padding-top: 0px;
    border-radius: 50%;
    background-color: #222;
    cursor: pointer;
}
.logo > h1{
    font-style:italic;
    font-size: 70px;
    /*margin-top: 0px;
    padding-top: 0px;*/
    float: left;
    padding-right: 300px;
    padding-left: 30px;

}

.content{
    text-align: map-get($contenido , tAlign);
    padding: map-get($contenido, padding );
    margin: map-get($contenido, margin );
    padding-top: map-get($contenido, pTop ); 
    margin-bottom: map-get($contenido,mBottom);
}
.banner{
    @include sizes(100%,100%);
    border: 1px solid $colorblanco;
    box-shadow: 0px 0px 2px gray;
    background:linear-gradient( to top, #020024,#0617b7,$colornegro);
    background-position: -200px -200px;
    margin: 20px auto;
    width: 95.5%;
    overflow: hidden;
}
.content h2{
    display: block;
    width: 100%;
    font-family: "BebasNeue";
    color: $colorblanco;
    @include font(45px,normal);
    text-shadow: $shadowh2;
    letter-spacing: 2px;
    margin: 27px auto;
    margin-top: 30px;
    animation: showText 4s linear;
    
}
@keyframes showText{
    0%{
        transform: translateX(-600%) scale(5,5);
        opacity: 1;
    }
    50%{
        transform: translateX(600%) scale(5,5);
        opacity: 1;
    }
    75%{
        transform: translateX(-600%) scale(5,5);
        text-shadow: none;
        color: transparent;
        opacity: 0;
    }
    100%{
        transform: translateX(0%) scale(1, 1);
        text-shadow: 2px 2px 1px $colornegro;
        opacity: 1;
        color: $colorblanco;
        
    }
}

.content h3{
width: 100%;
text-align: center;
border-radius: 7px;
box-shadow: 1px 1px 4px #ccc inset;
background: #333;
padding: 10px;
color: $colorblanco;
}

.content img{
    display: block;
    padding-top: 30px;
    padding-left: 540px;
}
.menu {
    display: inline-flex;
    font: 80% "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-top: 20px;

    .menu ul, li {
        list-style-type: none; 
     }
     .menu ul {
        display: flex;
        flex-direction: row;
        margin-left: -60px;
    }
    .menu a {
        text-decoration: none;
        color: #3366CC;
        background: #F0F7FC;
        padding: 15px 40px;
        text-align: center;
        border: 1px solid #ACCFE8;
        border-width: 1px 1px 1px 0;
        
    }

    /*ANIMACION DEL MENU*/

    &:hover {
    color: #05415d;
    transform: scale(1.2,1.2);
    background: #628fae;
    }
    .menu ul li a:hover{
    font-size: 13px;
    transition: all 0.5s;
    }
}



.d-flex{
    height: auto;
    width: auto;
    display:flex;
    /*margin: 10px auto;*/
    background-color: $colorblanco;
    border: 1px solid #ccc;
    border-radius: 15px;
    /*box-shadow: 1px 1px 4px #ccc inset;*/
    float: left;
    clear: left;
    margin-left: 750px;
    margin-top: 0px;
    text-align: center;
}
.d-flex input[type="search"]{
    /*height: 25px;*/
    border: none;
    padding-left: 5px;
    margin-left: 5px;
    /*border-radius:5px;*/
    background-color: transparent;
    color: #ccc;
    transition: all 300ms;
    text-align: center;
    
}
/*.search input[type="search"]:focus{
    color: #555;*/
#footer {
    
    background-color: $colornegro;
	position: fixed;
	width: 100%;
	height: 70px;
    bottom: 0;
    margin-left: 0;

    a{
        font-size: 30px;
        margin: 10px;
        margin-left: 1000px;
        padding: 5px;
        display: block;
        float: left;
        background: #222;
        text-decoration: none;
        color: #37bcf9;
        transition: all 300ms;
        border-radius: 5px;
        border: 2px solid rgb(110, 109, 109);
        text-align: center;
        &:hover{
            background: #555;
            transition: all 300ms;
        }
    
    }
}
 
.content-form h2{
    text-align: center;
    font-size: 40px;
    margin-top: 25px;
    text-shadow: 0px 0px 2px $colornegro;
    font-style: italic;

    h3{
        margin: 10px;
        padding: 15px;
        font-size: 30px;
        text-decoration:underline;
    }

    input[type="text"]{
        background-color: antiquewhite;
        color: $colornegro;
        display: block;
        margin-left: 15px;
        margin-bottom: 40px;
        padding: 7px;
    }
    input[type="email"]{
        background-color: antiquewhite;
        color: $colornegro;
        display: block;
        margin-left: 15px;
        margin-bottom: 40px;
        padding: 7px;
    }
}

.formulario span{
margin: 10px;
color: $colornegro;
text-shadow: 0px 1px 0px $colornegro;
}
#estado-civil{
    background-color: antiquewhite;
    color: $colornegro;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 7px;
    box-shadow: 0px 0px 3px $colornegro;
}

#newsletter {
    margin-left:15px;
    
}
.spanNewsletter{
    font-weight: bold;
}

.content-form{
    background:url(../img/fondo_blanco.webp);
    background-position: 15em;
    margin-right: 40%;
    margin-bottom: 10%;
    text-align: center;
    margin-left: 10px;
    margin-top: 10%;

    textarea{
        margin-left: 15px;
        border: 2px solid $colornegro;
        background-color: antiquewhite;
        font-family: Arial, Helvetica, sans-serif;
    }
    input[type="reset"]{
        margin: 15px;
        background-color: #e0e0e0;
        border-radius: 6px;

        &:hover[type="reset"]{
            box-shadow: 0px 0px 5px $colornegro;
            transition: all 300ms;
        }
        &:hover[type="reset"]{
            box-shadow: 0px 0px 5px $colornegro;
            transition: all 300ms;
        }
    }
    
     input[type="submit"]{
        margin: 15px;
        background-color: #e0e0e0;
        border-radius: 6px;
        text-align: center;
    }
     input:hover[type="submit"]{
        box-shadow: 0px 0px 5px $colornegro;
        transition: all 300ms;
    }
}


.tabla {
    background: #636464;
    display: flex;
    justify-content: center;
    font-size: 40px;
    width: 100%;
    margin: 20px;
    margin-left: auto;
    padding: 10px;
    border: 3px solid $colornegro;
}

.imagesBicis {
    display: flex !important;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.content img{
    padding-left: 10px;
    padding-top: 0px;

    &:hover{
        background-color: gray;
        cursor: pointer;
        border: 1px solid gray;
        border-radius: 15px;
        box-shadow: 0px 0px 10px gray, 0px 0px 10px gray, 0px 0px 10px gray;
    }
}
.imgGroup{
    margin-top: 20px;
    width: 100%;
}

.grilla{
    display: grid;
    grid-template-areas: 'header'
                         'content'
                        'footer';
    width: 100%;        
    grid-template-columns: auto;
    grid-template-rows: 12% auto 6% ;  
}

.grilla-contacto{
    display: grid;
    grid-template-areas: 'header'
                         'content-form'
                        'footer';
    width: 100%;        
    grid-template-columns: auto;
    grid-template-rows: 15% auto 6% ;  
}
.grillaProductos{
    display:grid;
    grid-template-areas: 'header'
                         'content-productos'
                        'footer';
    width: 100%;        
    grid-template-columns: auto;
    grid-template-rows: 15% auto 6% ;  
}
.content h2{
    margin-top: 30px;
}
 
/*RESPONSIVE DESDE 0PX HASTA 1200px*/

@media (max-width: 1292px){
    .menu ul{
        font-size: 50%;
        margin-left: -150px;
    }
    .menu li{
        font-size: 10px;
        background-color: #555;
    }
    .d-flex{
        margin-left: 680px;
        margin-top: -15px;
    }
    #footer a{
        margin-right: 60%;
    }
   
   }
   @media(max-width:1132px) {
       .menu ul{
           margin-left: -285px;
       }
       .d-flex{
           margin-left: 550px;
       }
      
   }
   @media(max-width:980px) {
      .menu ul{
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
      }
      .menu a{
        padding: 7px;
        font-size: 15px;
        margin-bottom: 1px;
      }
      .menu ul li{
          margin-bottom:5px;
          background: none;
      }
      .menu li{
          font-size:20px;
          margin-bottom: 1px;
          background: #333;
      }
    .d-flex{
    margin-left: 480px;
    }
    #footer a{
        margin-left: 60%;
    }
}
   @media(max-width:876px) {
    .content{
        margin: 0;
        padding: 122px;
        padding-left:15px;
        padding-top: 50px;
    
        h2{
            font-size: 35px;
            padding-top: 5%;
            margin-left: 0px;
            }
    }
    
    #footer a{
        margin-left: 60%;
    }
}
@media(max-width:815px) {

   .menu {

       a{
    padding: 4px;
    font-size: 12px;
       }

    ul li{
        margin-bottom:5px;
        background: none;
    }
    
    li{
      font-size:20px;
      margin-bottom: 1px;
      background: #333;
  }
}
}
.carousel-caption h5{
    color: $colorblanco;
}
#carouselExampleDark{
  margin: 12%;
}
#navbarTogglerDemo01{
    justify-content: center;
}
.card{
    width: 600px;
    height: 600px;
    color: #37bcf9;
    background:#333;
}
@media(max-width:480px) {
    .content-form textarea{
        margin-left: 5px;
        width: 80%;
    }
    .content-form input{
        margin-left: 5px;
        width: 80%;
    }
    .content-form h2{
        font-size: 50%;
    }
    .content-form input[type="reset"]{
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .content-form input[type="submit"]{
        margin-bottom: 40px;
    }
}
@media(max-width:490px) {
    #footer a{
        margin-left: 60%;
    }
}
@media(max-width:1220px) {
    #footer a{
        margin-left: 60%;
    }
}
@media(max-width:380px) {
.tabla {
height: 200px;
font-size: 20px;
}
}
#icons{
    margin-right: 15px;
}
.icon-instagram{
    margin-right: 10px;
}
@media(max-width:360px) {
    #footer a{
        margin-left: 40%;
    }
}
@media (max-width: 876px){
.content {
    margin: 0;
    padding: 0px;
    padding-left: 10px;
    padding-top: 61px;
}
}